form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
  gap: 15px;
  text-align: left;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
}

form input, 
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
}

form button {
  padding: 12px;
  background: #1d2549;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

form button:hover {
  background: #bdf347;
  color: black;
}
